body {
  background-color: #ccd4d0;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  gap: 0.5em;
}
#leftHandSide {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2em;
}
#rightHandSide {
  width: 60vw;
  height: 97vh;
  background-color: #082ccc;
  padding: 1em;
}
#topPannel {
  width: 60vw;
  height: 40vh;
  background-color: #08c404;
  padding: 1em;
}
#middlePart {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5em;
}
#Lorem2and4 {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
#Lorem2 {
  width: 100%;
  height: 55%;
  background-color: #d034cc;
  padding: 1em;
}
#Lorem4 {
  width: 100%;
  height: 55%;
  background-color: #08cccc;
  padding: 1em;
}
#Lorem3 {
  width: 45.5%;
  height: 85%;
  display: flex;
  background-color: #787474;
  padding: 1em;
}
#bottomPannel {
  width: 60vw;
  height: 10vh;
  background-color: #d06464;
  padding: 1em;
}
